<app-navbar [isMenuOpen]="isMenuOpen" [sidenav]="sidenav"></app-navbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav (click)="onSidenavClick()" autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <a *ngFor="let menu of menuItems" mat-button [routerLink]="menu.key">
            <mat-icon>{{ menu.icon }}</mat-icon>
            <span class="text-item">{{ menu.value }}</span>
        </a>
    </mat-sidenav>
    <mat-sidenav-content>
        <main>
            <ng-content></ng-content>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>