<app-card-form [form]="form" (submitForm)="submit()">
    <div form [formGroup]="form">
        <mat-form-field class="field-full-width">
            <mat-label>Login</mat-label>
            <input matInput formControlName="username" placeholder="manuel.silva">
        </mat-form-field>
        <div [formGroup]="form" formGroupName="client">
            <mat-form-field class="field-full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" placeholder="Manuel Silva">
                <mat-error *ngIf="form.controls.client[controls].name.hasError('required')">
                    Nome é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="field-full-width">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" placeholder="Ex. pat@example.com">
                <mat-error *ngIf="form.controls.client[controls].email.hasError('required')">
                    E-mail é <strong>obrigatório</strong>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    <div buttons [formGroup]="form">
        <button type="submit" [disabled]="form.status == invalid" mat-button>Salvar</button>
    </div>
</app-card-form>